body {
     /* checkered background */
    background: 
     repeating-linear-gradient(
       to right, transparent, 
       transparent 50px, 
       white 50px, 
       white 55px
     ),
     repeating-linear-gradient(
       to bottom, transparent,  
       transparent 50px, 
       white 50px, 
       white 55px
     ),
     linear-gradient(45deg, rgb(139, 255, 146), skyblue);
  
   }

   #basic {
    align-items: center;
    display:inline-table; 
    width: 200px;
    height: 300px;
    padding: 100px;
    margin: 100px;
    background-color: aliceblue;
    border: 1px solid rgb(2, 4, 85);
   }