body {
    /* checkered background */
   background: 
    repeating-linear-gradient(
      to right, transparent, 
      transparent 50px, 
      white 50px, 
      white 55px
    ),
    repeating-linear-gradient(
      to bottom, transparent,  
      transparent 50px, 
      white 50px, 
      white 55px
    ),
    linear-gradient(45deg, rgb(255, 233, 105), rgb(255, 128, 17));
 
  }

  #basic {
   width: 200px;
   height: 490px;
   margin: 100px;
   background-color: rgb(255, 249, 143);
   border: 1px solid rgb(218, 107, 10);
  }